#dijit_form_TextBox_0 {
  color: #a62121;
}

#dijit_form_TextBox_1 {
  color: #a62121;
}

.Login .Login-loginErrorMsg {
      font-family: 'Scada', sans-serif;
      font-size: 18px;
color: #a62121;
letter-spacing: -0.05em;
line-height: 20px;
margin: 10px 0 30px;
}


.Login .Login-passObject1{
  font-size: 12px;
  text-decoration: none;
  
}.Login .Login-layoutBox {
  background:  #FAFAFA url(resources/images/gradients/subtle_dots.png);
   color: #000;
font: 14px Arial;
margin: 0 auto;
padding: 0;
position: relative;
}

.Login .Login-panel_image {
    border-top-left-radius: 25px;
    
}

.Login .Login-loginInputPanel {
    border-bottom-right-radius: 25px;
}

.Login .Login-label2 {
    font-family: 'Scada', sans-serif;
    font-size: 25px;
color: #a62121;
letter-spacing: -0.05em;
line-height: 20px;
margin: 10px 0 30px;
}

.Login .Login-usernameInput {
  border: 1px solid #c8c8c8;
  color: #777;
margin: 0 0 10px;
padding: 15px 10px 15px 40px;
}



.Login .Login-loginButton {
  background: rgb(247,249,250);
  background: -moz-linear-gradient(top, rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
background: -webkit-linear-gradient(top, rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
background: -o-linear-gradient(top, rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(top, rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
background: linear-gradient(top, rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
cursor: pointer;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0',GradientType=0 );
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
-o-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
-webkit-border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
-o-border-radius: 0 0 5px 5px;
color: #7E7E7E;
-ms-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
border-top: 1px solid #CFD5D9;
}

.Login .Login-passwordInput {
  border: 1px solid #c8c8c8;
  color: #777;
margin: 0 0 10px;
padding: 15px 10px 15px 40px;
}